

/* barra de navegação */
.navbar{
    padding: 2rem;
    background-color: blue;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* estilos gerais */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive; 

}

/*sobre min */

.section-dark{
    color: white;
    background-color: blue;
}

.section-light{
    color: blue;
    background-color: white;
}

.section-title{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
    
}

.section-description{
    font-size: 1.5rem;
    color: black;
}

.section-text{
    font-size: 1.2rem;
    text-align: justify;
}

.text-black{
    color: blue;
}




/* section hero */

.hero{
    background-color: #ffffff;
    min-height: 450px;
    text-align: center;
    align-items: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    
}

.hero-principal h2{
    font-size: 1.2rem;
    color: black;
}

/* continuaçao sobre min */
.about-me{
    height: 300px;
    padding: 20px;
}

.about-me .contanedor{
    max-width: 600px;
    text-align: center;
}

/*continuacao experience*/
.experience{
    padding: 40px;
}

.experience .column{
padding: 20px;
border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
transition: all 0.2s ease-in;
}

.experience .column:hover{
    color: white;
    background-color: blue;
}

.experience i{
    font-size: 2.5rem;
    color: white;
    background-color: rgb(7, 7, 82);
    padding: 8px 19px;
    border-radius: 50%;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
}

.badges-contanedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}

.project-recent{
    padding: 40px;
}

.project-recent img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2 ease;
}

.project-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.project{
    position: relative;
}

.project:hover img{
    opacity: 0.2;
}

.project:hover .overlay{
    opacity: 1;
}

.overlay .icon-contenedor{
    display: flex;
    font-size: 60px;
    margin: 10px;
}


/* adaptar - responsivel */

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}